<h1 align='center'> Welcome to Polling Station</h1>
<% @questions.each_slice(2) do |questions|%>
  <div class="row">
    <% questions.each do |question| %>
      <div class="col-sm-6">
        <h2 align='center'><% question.title %></h2>
        <% total = question.answers.sum(:total) %>
        <% question.answers.each do |answer|%>
          <% x = ((answer.total/total.to_f )* 100) %>
           <%= answer.title %>
          <div class="progress">
           <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= x %>%" aria-valuenow="#{x}" aria-valuemin="0" aria-valuemax="100"></div>
          </div><br>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
